.example-card{
  width: 200px;
  margin: 5px;
}

.mat-card-image{
  width: 214px;

}
.mat-card-content{
  margin: 0px 16px;
}

.label-discount {
  color:white;
  background-color: red;
  border-radius: 15%;
  padding: 0px 5px;
}
.conteiner-list{

  display:flex;
flex-flow: row wrap;
  fustify-content: space-around;

}
